@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #c6bb6e;
  font-family: "Noto Sans JP", sans-serif;
}

.wrap {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 780px;
}

.TDlist {
  width: 100%;
  background-color: #d7cf99;
  background-color: #e0d9ae;
  padding: 34px;
  position: relative;
}
@media (max-width: 992px) {
  .TDlist {
    width: 90%;
    margin: 0 auto;
    padding: 24px;
  }
}

.title {
  font-size: 52px;
  position: absolute;
  top: -30px;
  color: rgba(55, 43, 36, 0.9176470588);
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
}

input,
button,
select {
  outline: none;
  border: 2px dashed transparent;
  padding: 12px 20px;
  color: #333;
}

button {
  font-family: "Playpen Sans", cursive;
  background-color: #E2DFD0;
  color: #333;
}

option {
  font-family: "Noto Sans JP", sans-serif;
}

.itemGroup {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .itemGroup {
    flex-direction: column;
  }
}

.itemGroup :nth-child(1) {
  border-radius: 14px 0 0 14px;
  width: 40%;
}
@media (max-width: 767px) {
  .itemGroup :nth-child(1) {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 24px;
  }
}

.itemGroup :nth-child(2) {
  cursor: pointer;
  border-left: 2px dashed #999999;
}
@media (max-width: 767px) {
  .itemGroup :nth-child(2) {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 36px;
    border-left: none;
  }
}

.itemGroup :nth-child(3) {
  border-radius: 0 14px 14px 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .itemGroup :nth-child(3) {
    border-radius: 10px;
  }
}

.selectChangeR {
  border: 2px dashed #DC143C;
  /* background-color: #ffdab9; */
}

.selectChangeY {
  /* background-color: #fafad2; */
  border: 2px dashed #ffa500;
}

.btns :last-child {
  margin-left: 24px;
}

.item:hover {
  border: 2px dashed #999999;
}

/* .itemGroup :nth-child(3){
  border-radius: 14px;
  cursor: pointer;
  padding:8px 16px;
  margin-left:8px;
} */
.down-btns button {
  border-radius: 14px;
  cursor: pointer;
  padding: 12px 28px;
  margin-top: 32px;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}
.down-btns button:hover {
  transform: scale(1.1);
}
.down-btns :last-child {
  margin-left: 24px;
}

.d-flex {
  display: flex;
  justify-content: center;
}

/* 輸入表單 */
.listGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}

.listGroup li {
  width: 80%;
  padding: 8px 18px;
  background-color: #ffffff;
  margin-top: 16px;
  display: flex;
  align-items: center;
  /* border: 2px dashed transparent; */
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .listGroup li {
    width: 100%;
  }
}

.printText {
  flex-grow: 1;
  margin-left: 8px;
}

.listGroup span {
  padding-left: 12px;
}

.heart-line {
  text-align: center;
}
.heart-line i {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.listGroup li:hover {
  background-color: #fafad2;
  /* box-shadow: 0px 0px 2px 2px #b1b1b1; */
}

.delIcon {
  cursor: pointer;
  font-size: 20px;
  color: transparent;
  transition: all 0.2s;
  margin-left: 8px;
}
@media (max-width: 767px) {
  .delIcon {
    color: #d2691e;
    font-size: 16px;
  }
}

.listGroup li:hover .delIcon {
  color: #d2691e;
  /* color: #372b24ea; */
}

.listGroup i:hover {
  transform: scale(1.2);
}

/* text-indent: 10px; */
/* 匯出文字 */
.urgent {
  border-left: 10px solid #b7282d;
}

.important {
  border-left: 10px solid #fabf13;
}

.normal {
  border-left: 10px solid transparent;
}

.finish {
  background-color: transparent;
  padding: 0;
  margin-right: 8px;
  color: #666666;
  font-size: 12px;
}

.fa-heart {
  font-size: 10px;
}

.fa-check {
  color: darkgreen;
}

.fa-circle-check {
  color: green;
}/*# sourceMappingURL=all.css.map */